<!-- ************************************************************
//  block05
// ************************************************************ -->
<div class="block block05">

	<!-- pipe -->
	<div class="pipe"><img src="./assets/resource/img_sp/pipe04.png" alt="" class="responsiveImg"></div>

	<!-- tit -->
	<div class="tit"><%- include('../../../../dist/assets/resource/svg/store.svg'); %></div>
	
	<!-- img -->
	<div class="img img01">
		<img src="./assets/resource/conveir/conveir.png" alt="" class="responsiveImg base">

		<div class="conveir"><div class="back"><img src="./assets/resource/conveir/conveir_2.png" alt=""></div></div>

		<div class="items back">
			<div class="item"><img src="./assets/resource/conveir/con_pre1.png" alt=""></div>
			<div class="item"><img src="./assets/resource/conveir/con_pin.png" alt=""></div>
			<div class="item"><img src="./assets/resource/conveir/con_pre2.png" alt=""></div>
			<div class="item"><img src="./assets/resource/conveir/con_pre7.png" alt=""></div>
			<div class="item"><img src="./assets/resource/conveir/con_pre4.png" alt=""></div>
			<div class="item"><img src="./assets/resource/conveir/con_pre6.png" alt=""></div>
			<div class="item"><img src="./assets/resource/conveir/con_pre3.png" alt=""></div>
			<div class="item"><img src="./assets/resource/conveir/con_book.png" alt=""></div>
			<div class="item"><img src="./assets/resource/conveir/con_pre8.png" alt=""></div>
			<div class="item"><img src="./assets/resource/conveir/con_pre10.png" alt=""></div>
			<div class="item"><img src="./assets/resource/conveir/con_pre5.png" alt=""></div>
			<div class="item"><img src="./assets/resource/conveir/con_donuts.png" alt=""></div>
			<div class="item"><img src="./assets/resource/conveir/con_pre9.png" alt=""></div>
			<div class="item"><img src="./assets/resource/conveir/con_shoes1.png" alt=""></div>
			<div class="item"><img src="./assets/resource/conveir/con_candle.png" alt=""></div>
			<div class="item"><img src="./assets/resource/conveir/con_shoes2.png" alt=""></div>		
		</div>

		<div class="conveir"><div class="front"><img src="./assets/resource/conveir/conveir_1.png" alt=""></div></div>

		<div class="items front">
			<div class="item"><img src="./assets/resource/conveir/con_pre1.png" alt=""></div>
			<div class="item"><img src="./assets/resource/conveir/con_pin.png" alt=""></div>
			<div class="item"><img src="./assets/resource/conveir/con_pre2.png" alt=""></div>
			<div class="item"><img src="./assets/resource/conveir/con_pre7.png" alt=""></div>
			<div class="item"><img src="./assets/resource/conveir/con_pre4.png" alt=""></div>
			<div class="item"><img src="./assets/resource/conveir/con_pre6.png" alt=""></div>
			<div class="item"><img src="./assets/resource/conveir/con_pre3.png" alt=""></div>
			<div class="item"><img src="./assets/resource/conveir/con_book.png" alt=""></div>
			<div class="item"><img src="./assets/resource/conveir/con_pre8.png" alt=""></div>
			<div class="item"><img src="./assets/resource/conveir/con_pre10.png" alt=""></div>
			<div class="item"><img src="./assets/resource/conveir/con_pre5.png" alt=""></div>
			<div class="item"><img src="./assets/resource/conveir/con_donuts.png" alt=""></div>
			<div class="item"><img src="./assets/resource/conveir/con_pre9.png" alt=""></div>
			<div class="item"><img src="./assets/resource/conveir/con_shoes1.png" alt=""></div>
			<div class="item"><img src="./assets/resource/conveir/con_candle.png" alt=""></div>
			<div class="item"><img src="./assets/resource/conveir/con_shoes2.png" alt=""></div>		
		</div>
	</div>

	<!-- blocInner -->
	<div class="blockInner blockInner02">

		<!-- item -->
		<div class="items itemParallax">
			<div class="item item01"><div class="itemWrap"><div class="itemInner"><img src="./assets/resource/img_sp/item02_06.png" alt=""></div></div></div>
			<div class="item item02"><div class="itemWrap"><div class="itemInner"><img src="./assets/resource/img_sp/item02_07.png" alt=""></div></div></div>
			<div class="item item03"><div class="itemWrap"><div class="itemInner"><img src="./assets/resource/img_sp/item02_08.png" alt=""></div></div></div>
			<div class="item item04"><div class="itemWrap"><div class="itemInner"><img src="./assets/resource/img_sp/item02_09.png" alt=""></div></div></div>
			<div class="item item05"><div class="itemWrap"><div class="itemInner"><img src="./assets/resource/img_sp/item02_10.png" alt=""></div></div></div>
		</div>

		<!-- btns -->
		<div class="btns">
			<!-- btn -->
			<div class="btn btnStore flex">
			<a href="http://www.lumine.ne.jp/machida/" class="blank">
			<div class="btnInner">
				<div class="btnIn">
					<div class="titWrap flex">
						<div class="tit"><%- include('../../../../dist/assets/resource/svg/store07.svg'); %></div>
						<div class="text">町田</div>
					</div>
					<div class="bar"></div>
					<div class="text">
						大切な人に贈りたいギフトがきっとみつかります★<br>
						クリスマスの準備はルミネ町田でバッチリ！
					</div>
				</div>
				<div class="btnIn">
					<div class="icon"><%- include('../../../../dist/assets/resource/svg/arrow.svg'); %></div>
				</div>
			</div>
			</a>
			</div>
			
			<!-- btn -->
			<div class="btn btnStore flex">
			<a href="http://www.lumine.ne.jp/ogikubo/" class="blank">
			<div class="btnInner">
				<div class="btnIn">
					<div class="titWrap flex">
						<div class="tit"><%- include('../../../../dist/assets/resource/svg/store08.svg'); %></div>
						<div class="text">荻窪</div>
					</div>
					<div class="bar"></div>
					<div class="text">
						クリスマスマーケットや屋上イルミネーションを開催！<br>
						荻窪限定クリスマスセットの販売も★
					</div>
				</div>
				<div class="btnIn">
					<div class="icon"><%- include('../../../../dist/assets/resource/svg/arrow.svg'); %></div>
				</div>
			</div>
			</a>
			</div>
			
			<!-- btn -->
			<div class="btn btnStore flex">
			<a href="http://www.lumine.ne.jp/omiya/" class="blank">
			<div class="btnInner">
				<div class="btnIn">
					<div class="titWrap flex">
						<div class="tit"><%- include('../../../../dist/assets/resource/svg/store09.svg'); %></div>
						<div class="text">大宮</div>
					</div>
					<div class="bar"></div>
					<div class="text">
						大切な人へオススメのギフトを大特集！<br>
						お菓子やコスメサンプルがもらえるイベントも★
					</div>
				</div>
				<div class="btnIn">
					<div class="icon"><%- include('../../../../dist/assets/resource/svg/arrow.svg'); %></div>
				</div>
			</div>
			</a>
			</div>
			
			<!-- btn -->
			<div class="btn btnStore flex">
			<a href="http://www.lumine.ne.jp/kawagoe/" class="blank">
			<div class="btnInner">
				<div class="btnIn">
					<div class="titWrap flex">
						<div class="tit"><%- include('../../../../dist/assets/resource/svg/store10.svg'); %></div>
						<div class="text">川越</div>
					</div>
					<div class="bar"></div>
					<div class="text">
						スクラッチで川越店から当たって楽しい♪<br>
						貰って嬉しい☆素敵なプレゼントをたくさんゲット！
					</div>
				</div>
				<div class="btnIn">
					<div class="icon"><%- include('../../../../dist/assets/resource/svg/arrow.svg'); %></div>
				</div>
			</div>
			</a>
			</div>
			
			<!-- btn -->
			<div class="btn btnStore flex">
			<a href="http://www.lumine.ne.jp/yokohama/" class="blank">
			<div class="btnInner">
				<div class="btnIn">
					<div class="titWrap flex">
						<div class="tit"><%- include('../../../../dist/assets/resource/svg/store11.svg'); %></div>
						<div class="text">横浜</div>
					</div>
					<div class="bar"></div>
					<div class="text">
						自分へのご褒美、大切な人へのギフトをご購入の方に<br>
						抽選でスペシャル体験をプレゼント☆
					</div>
				</div>
				<div class="btnIn">
					<div class="icon"><%- include('../../../../dist/assets/resource/svg/arrow.svg'); %></div>
				</div>
			</div>
			</a>
			</div>
			
			<!-- btn -->
			<div class="btn btnStore flex">
			<a href="http://www.lumine.ne.jp/fujisawa/" class="blank">
			<div class="btnInner">
				<div class="btnIn">
					<div class="titWrap flex">
						<div class="tit"><%- include('../../../../dist/assets/resource/svg/store12.svg'); %></div>
						<div class="text">藤沢</div>
					</div>
					<div class="bar"></div>
					<div class="text">
						かわいくておいしい！クリスマスケーキがいっぱい☆<br>
						素敵なおうちパーティーを提案します♪
					</div>
				</div>
				<div class="btnIn">
					<div class="icon"><%- include('../../../../dist/assets/resource/svg/arrow.svg'); %></div>
				</div>
			</div>
			</a>
			</div>
			
			<!-- btn -->
			<div class="btn btnStore flex long">
			<a href="http://www.lumine.ne.jp/luminewing/" class="blank">
			<div class="btnInner">
				<div class="btnIn">
					<div class="titWrap flex">
						<div class="tit"><%- include('../../../../dist/assets/resource/svg/store13.svg'); %></div>
						<div class="text">大船ルミネウィング</div>
					</div>
					<div class="bar"></div>
					<div class="text">
						コスメや雑貨などのクリスマスギフトが盛りだくさん♪<br>
						ワークショップやコスメプレゼントキャンペーンも！
					</div>
				</div>
				<div class="btnIn">
					<div class="icon"><%- include('../../../../dist/assets/resource/svg/arrow.svg'); %></div>
				</div>
			</div>
			</a>
			</div>
			
			<!-- btn -->
			<div class="btn btnStore flex">
			<a href="https://i.lumine.jp/contents/1811_christmas" class="blank">
			<div class="btnInner">
				<div class="btnIn">
					<div class="titWrap flex">
						<div class="tit"><%- include('../../../../dist/assets/resource/svg/store14.svg'); %></div>
						<div class="text">アイルミネ</div>
					</div>
					<div class="bar"></div>
					<div class="text">
						クリスマスおすすめファッション・ジュエリー・<br class="sp">
						コスメ<br class="pc">が勢揃い！アイルミネ限定プレゼントも！
					</div>
				</div>
				<div class="btnIn">
					<div class="icon"><%- include('../../../../dist/assets/resource/svg/arrow.svg'); %></div>
				</div>
			</div>
			</a>
			</div>
			
		</div>

	</div>
		
</div>	
