<!-- ************************************************************
//  section01
// ************************************************************ -->
<div class="section section01">

	<div class="titWrap hidePage">
		<div class="tit"><%- include('../../../../dist/assets/resource/svg/talk/tit.svg'); %></div>
		<div class="text">飲み会が盛り上がるトークツール！</div>
	</div>

	<div class="btns">
		<div class="btn tapBtn hideBtn"><a href="/talk/talkhigh/" class="pageOut"><%- include('../../../../dist/assets/resource/svg/talk/btn1.svg'); %></a></div>
		<div class="btn tapBtn hideBtn"><a href="/talk/talkgaya/" class="pageOut"><%- include('../../../../dist/assets/resource/svg/talk/btn2.svg'); %></a></div>
		<div class="btn hideBtn"><%- include('../../../../dist/assets/resource/svg/talk/btn3.svg'); %></div>
	</div>

	<div class="toTop"><a href="/" data-color="toTop" class="tapBtn hideBtn"><%- include('../../../../dist/assets/resource/svg/talk/toTop.svg'); %></a></div>

</div>