<!-- ************************************************************
//  section01
// ************************************************************ -->
<div class="section section01">

	<div class="titWrap hidePage">
		<div class="tit"><%- include('../../../../dist/assets/resource/svg/tap/tit.svg'); %></div>
		<div class="text">続々追加！</div>
	</div>

	<div class="btns">
		<div class="btn tapBtn hideBtn"><a href="/tap/craftsman/" class="pageOut" data-color="toCraftsman"><%- include('../../../../dist/assets/resource/svg/tap/btn1.svg'); %></a></div>
		<div class="btn hideBtn"><%- include('../../../../dist/assets/resource/svg/tap/btn2.svg'); %></div>
		<div class="btn hideBtn"><%- include('../../../../dist/assets/resource/svg/tap/btn2.svg'); %></div>
		<div class="btn hideBtn"><%- include('../../../../dist/assets/resource/svg/tap/btn2.svg'); %></div>
		<div class="btn hideBtn"><%- include('../../../../dist/assets/resource/svg/tap/btn2.svg'); %></div>
		<div class="btn hideBtn"><%- include('../../../../dist/assets/resource/svg/tap/btn2.svg'); %></div>
	</div>

	<div class="toTop"><a href="/" data-color="toTop" class="tapBtn hideBtn"><%- include('../../../../dist/assets/resource/svg/talk/toTop.svg'); %></a></div>

</div>