<!-- ************************************************************
//  section01
// ************************************************************ -->
<div class="section section01">

	<!-- tit -->
	<div class="titWrap">
		<div class="subTit"><div class="in"><%- include('../../../../dist/assets/resource/svg/top/subTit.svg'); %></div></div>
		<div class="tit"><div class="in"><%- include('../../../../dist/assets/resource/svg/top/logo.svg'); %></div></div>
		<div class="nigiyakaWrap">
		<div class="in">
			<div class="nigiyaka"><div class="nigiyakaIn"></div></div>
			<div class="nigiyakaText">
				<div>"JIM BEAM TAP！" サイトOPEN！ 今後もNEWコンテンツが続々更新予定！</div>
				<div>"JIM BEAM TAP！" サイトOPEN！ 今後もNEWコンテンツが続々更新予定！</div>
			</div>
		</div>
		</div>
		
	</div>

	<!-- btns -->
	<div class="btns">
		<div class="btn tapBtn">
			<!-- <div class="new"><img src="./assets/resource/img/new1.gif" alt=""></div> -->
			<a href="./talk/" data-color="#FFF9B2"><div class="btnIn"><%- include('../../../../dist/assets/resource/svg/top/btn1.svg'); %></div></a>
		</div>
		<div class="btn tapBtn">
			<!-- <div class="new"><img src="./assets/resource/img/new1.gif" alt=""></div> -->
			<a href="./warikan/" data-color="#FDD7BB"><div class="btnIn"><%- include('../../../../dist/assets/resource/svg/top/btn2.svg'); %></div></a>
		</div>
		<div class="btn tapBtn">
			<!-- <div class="new"><img src="./assets/resource/img/new1.gif" alt=""></a></div> -->
			<a href="./next/" data-color="#F9CCE4" class="pageOut"><div class="btnIn"><%- include('../../../../dist/assets/resource/svg/top/btn3.svg'); %></div></a>
		</div>
		<div class="btn tapBtn">
			<!-- <div class="new"><img src="./assets/resource/img/new1.gif" alt=""></div> -->
			<a href="./tap/" data-color="#ECF0B3"><div class="btnIn"><%- include('../../../../dist/assets/resource/svg/top/btn4.svg'); %></div></a>
		</div>
		<div class="btn tapBtn">
			<!-- <div class="new"><img src="./assets/resource/img/new1.gif" alt=""></a></div> -->
			<a href="./photo/" data-color="#4cb5d6" class="notTransition blank"><div class="btnIn"><%- include('../../../../dist/assets/resource/svg/top/btn5.svg'); %></div></a>
		</div>
		<div class="btn tapBtn">
			<!-- <div class="new"><img src="./assets/resource/img/new1.gif" alt=""></a></div> -->
			<a href="./tour/" data-color="#F7B8BF"><div class="btnIn"><%- include('../../../../dist/assets/resource/svg/top/btn6.svg'); %></div></a>
		</div>
		<div class="btn tapBtn">
			<!-- <div class="new"><img src="./assets/resource/img/new1.gif" alt=""></div> -->
			<a href="./cm/" data-color="#E8E8E8"><div class="btnIn"><%- include('../../../../dist/assets/resource/svg/top/btn7.svg'); %></div></a>
		</div>
	</div>

</div>