<!-- ************************************************************
//  section01
// ************************************************************ -->
<div class="section section01">

	<div class="titWrap hidePage">
		<div class="tit"><%- include('../../../../dist/assets/resource/svg/warikan/tit.svg'); %></div>
		<div class="text">お会計も盛り上がろう！</div>
	</div>

	<div class="btns">
		<div class="btn tapBtn hideBtn"><a href="/warikan/smart/" class="pageOut"><%- include('../../../../dist/assets/resource/svg/warikan/btn1.svg'); %></a></div>
		<div class="btn tapBtn hideBtn"><a href="/warikan/roulette/" class="pageOut"><%- include('../../../../dist/assets/resource/svg/warikan/btn2.svg'); %></a></div>
		<div class="btn hideBtn"><%- include('../../../../dist/assets/resource/svg/warikan/btn3.svg'); %></div>
	</div>

	<div class="toTop"><a href="/" data-color="toTop" class="tapBtn hideBtn"><%- include('../../../../dist/assets/resource/svg/talk/toTop.svg'); %></a></div>

</div>