extends ../../../_base/_layout
block vars
  - var path = '..';
block title
  title= title
block append meta
block append link
  link(rel="stylesheet", href=`${path}/assets/css/style.css`)
block body
  #wrapper.wrapper
    header.header.header--detail
      h1.header__logo
        a.jsSeLogo(href="../../../", data-color="toTop")
          img(src=`${path}/assets/images/logo_jim_beadm_tap.png`, alt="JIM BEAM TAP")
      h2.header__title.header__title--detail
        img(src=`${path}/assets/images/title_talkhigh_detail.png`, alt="トークHIGH！")
      span.header__menu.open_modal.jsSeBtn
    main#app.main
      .content
        ul.themeView
          transition-group(name="themeAnime", appear, @after-enter="afterEnter")
            li.themeView__text(v-for="(theme, idx) in themes", v-show="id === idx", :key="idx")
              span(v-cloak, v-html="theme")
        .themeCount
          span(v-cloak) {{ current }} / 10
        .themeFooter
          a(href="../")#categoryBtn.button.button--back.notTransition.jsSeLink
            include ../svg/button_back_category.svg
          transition(name="buttonShow")
            a(href="#")#nextBtn.button.button--next(v-show="enableNext")
              include ../svg/button_next.svg
    footer.footer
      a#backBtn.backBtn.jsDelayAnime(href="../../../?page=talk", data-color="toTop")
        include ../svg/button_back_talk.svg
      small.copy
        img(src=`${path}/assets/images/copy.png`, alt="COPYRIGHT SUNTORY HOLDINGS LIMITED. ALL RIGHTS REVERVED.")
block append script
  //- script(src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js")
  script(src="https://cdn.jsdelivr.net/npm/vue")
  script(src=`${path}/assets/js/app.bundle.js?v=${Date.now()}`)
