<!-- ************************************************************
//
//  header
//
// ************************************************************ -->
<header class="notLower">

	<!-- budge -->
	<div class="budge"><a href="/" data-menu="true" data-color="toTop"><img src="<%- PATH %>assets/resource/img/budge.png" alt=""></a></div>
	
	<!-- menu -->
	<div class="menus">
		<div class="menu open_modal tapBtn"><%- include('../../../../dist/assets/resource/svg/top/menu.svg'); %></div>
		<div class="line lineShare_header tapBtn"><%- include('../../../../dist/assets/resource/svg/top/line.svg'); %></div>
		<div class="tw twShare_header tapBtn"><%- include('../../../../dist/assets/resource/svg/top/tw.svg'); %></div>
		<div class="fb fbShare_header tapBtn"><%- include('../../../../dist/assets/resource/svg/top/fb.svg'); %></div>
	</div>

</header>