  <!-- ************************************************************
//
//  footer
//
// ************************************************************ -->


<footer id="footer">
  <div class="footer__inner">
    <div class="footer__block">
      <div class="footer__subscribe">
        <div class="footer__subscribe-txt">
          <label for="email">Subscribe to our newsletter</label>
        </div>
        <div class="footer__subscribe-input">
          {% form 'customer' %}
          <input type="hidden" name="contact[tags]" value="newsletter">
          <input
                    id="email"
                    type="email"
                    name="contact[email]"
                    value="{{ form.email }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="Newsletter-error--{{ section.id }}"
                    {% elsif form.posted_successfully? %}
                      aria-describedby="Newsletter-success--{{ section.id }}"
                    {% endif %}
                    placeholder="Email"
                    required
                  >
            <button type="submit">→</button>
              {%- if form.errors -%}
                  <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                {%- endif -%}
            {%- if form.posted_successfully? -%}
                <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="Newsletter-success--{{ section.id }}" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
              {%- endif -%}
            {% endform %}
        </div>
      </div>

      <div class="footer__mainnav">
        <ul class="footer__mainnav-list">
         
          <li class="footer__mainnav-item">
            <a 
              href="/#about" 
              class="js-hover js-aboutbtn" 
              data-hover="underline"
              data-transition=""
            >
              <span>About </span>
              <span class="footer__mainnav-item-bar js-hover_underline_line"></span>
            </a>
          </li>
          
          <li class="footer__mainnav-item">
            <a 
              href="/products" 
              class="js-hover " 
              data-hover="underline"
              data-transition=""
            >
              <span>Products</span>
              <span class="footer__mainnav-item-bar js-hover_underline_line"></span>
            </a>
          </li>
          
          <li class="footer__mainnav-item">
            <a 
              href="/pages/contact" 
              class="js-hover " 
              data-hover="underline"
              data-transition=""
            >
              <span>Contact us</span>
              <span class="footer__mainnav-item-bar js-hover_underline_line"></span>
            </a>
          </li>
          
          <li class="footer__mainnav-item">
            <a 
              href="/pages/faq" 
              class="js-hover " 
              data-hover="underline"
              data-transition=""
            >
              <span>FAQs</span>
              <span class="footer__mainnav-item-bar js-hover_underline_line"></span>
            </a>
          </li>
          
        </ul>
      </div>

      <div class="footer__subnav">
        <ul class="footer__subnav-list">
         
          <li class="footer__subnav-item">
            <a href="/pages/terms" class="js-hover" data-hover="underline">
              <span>Terms & Conditions</span>
              <span class="footer__subnav-item-bar js-hover_underline_line"></span>
            </a>
          </li>
          
          <li class="footer__subnav-item">
            <a href="/pages/privacy" class="js-hover" data-hover="underline">
              <span>Privacy Policy </span>
              <span class="footer__subnav-item-bar js-hover_underline_line"></span>
            </a>
          </li>
          
        </ul>
      </div>

      <div class="footer__sns">
        <ul class="footer__sns-list">
          <li class="footer__sns-item">
            <a 
              href="https://www.instagram.com/choku_shochu" 
              target="_blank" 
              rel="noopener noreferrer"
              data-transition="none"
            >
              <div class="svgwrap js-hover_scale_icon">
                <svg id="グループ_170" data-name="グループ 170" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" viewBox="0 0 30 30">
  <defs>
    <clipPath id="clip-path">
      <rect id="長方形_134" data-name="長方形 134" width="30" height="30" fill="none"/>
    </clipPath>
  </defs>
  <g id="グループ_169" data-name="グループ 169" clip-path="url(#clip-path)">
    <path id="パス_212" data-name="パス 212" d="M15,2.7c4.005,0,4.48.015,6.061.087a8.3,8.3,0,0,1,2.785.516A4.648,4.648,0,0,1,25.57,4.429a4.648,4.648,0,0,1,1.122,1.725,8.3,8.3,0,0,1,.517,2.785c.072,1.582.087,2.056.087,6.061s-.015,4.48-.087,6.061a8.3,8.3,0,0,1-.517,2.785,4.968,4.968,0,0,1-2.847,2.847,8.3,8.3,0,0,1-2.785.516C19.479,27.282,19,27.3,15,27.3s-4.48-.015-6.061-.087a8.3,8.3,0,0,1-2.785-.516,4.649,4.649,0,0,1-1.725-1.122,4.648,4.648,0,0,1-1.122-1.725,8.3,8.3,0,0,1-.517-2.785C2.717,19.48,2.7,19.005,2.7,15s.015-4.48.087-6.061a8.3,8.3,0,0,1,.517-2.785A4.648,4.648,0,0,1,4.428,4.429,4.649,4.649,0,0,1,6.152,3.307,8.3,8.3,0,0,1,8.938,2.79C10.52,2.718,10.994,2.7,15,2.7M15,0c-4.074,0-4.585.017-6.184.09a11.011,11.011,0,0,0-3.641.7,7.353,7.353,0,0,0-2.657,1.73A7.353,7.353,0,0,0,.787,5.174a11.01,11.01,0,0,0-.7,3.641C.016,10.415,0,10.926,0,15s.017,4.585.09,6.184a11.01,11.01,0,0,0,.7,3.641,7.353,7.353,0,0,0,1.73,2.657,7.353,7.353,0,0,0,2.657,1.73,11.011,11.011,0,0,0,3.641.7c1.6.073,2.111.09,6.184.09s4.585-.017,6.184-.09a11.011,11.011,0,0,0,3.641-.7,7.67,7.67,0,0,0,4.387-4.387,11.01,11.01,0,0,0,.7-3.641c.073-1.6.09-2.111.09-6.184s-.017-4.585-.09-6.185a11.01,11.01,0,0,0-.7-3.641,7.354,7.354,0,0,0-1.73-2.657A7.354,7.354,0,0,0,24.825.787a11.011,11.011,0,0,0-3.641-.7C19.584.017,19.073,0,15,0" transform="translate(0.001 0)" fill="#fff"/>
    <path id="パス_213" data-name="パス 213" d="M130.258,122.556a7.7,7.7,0,1,0,7.7,7.7,7.7,7.7,0,0,0-7.7-7.7m0,12.7a5,5,0,1,1,5-5,5,5,0,0,1-5,5" transform="translate(-115.258 -115.259)" fill="#fff"/>
    <path id="パス_214" data-name="パス 214" d="M359.766,89.015a1.8,1.8,0,1,1-1.8-1.8,1.8,1.8,0,0,1,1.8,1.8" transform="translate(-334.959 -82.022)" fill="#fff"/>
  </g>
</svg>

              </div>
            </a>
          </li>
          <li class="footer__sns-item">
            <a 
              href="https://www.youtube.com/@choku_shochu" 
              target="_blank" 
              rel="noopener noreferrer"
              data-transition="none"
            >
              <div class="svgwrap js-hover_scale_icon">
                <?xml version="1.0" encoding="UTF-8"?><svg id="uuid-59596014-25ff-488f-be76-44a2c37890d1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 35.48 25"><defs><style>.uuid-37179575-83d7-43f7-85d7-3783b9279342{fill:none;}.uuid-f92f195e-29b0-4cbe-b7c8-592023102d34{fill:#fff;}.uuid-6e8388ee-a54a-434d-bfa3-0ed79f6d8009{clip-path:url(#uuid-156ca19f-1a30-4047-8595-7f2fbe4b318b);}</style><clipPath id="uuid-156ca19f-1a30-4047-8595-7f2fbe4b318b"><rect class="uuid-37179575-83d7-43f7-85d7-3783b9279342" width="35.48" height="25"/></clipPath></defs><g class="uuid-6e8388ee-a54a-434d-bfa3-0ed79f6d8009"><g id="uuid-ae540bae-b556-4461-a1eb-8168cd68db6b"><path id="uuid-3cace4f8-dea5-4b01-8c4a-63759b2666a5" class="uuid-f92f195e-29b0-4cbe-b7c8-592023102d34" d="M34.74,3.9c-.41-1.54-1.6-2.74-3.14-3.15-2.77-.75-13.86-.75-13.86-.75,0,0-11.1,0-13.86,.75-1.53,.42-2.73,1.62-3.14,3.15-.74,2.79-.74,8.6-.74,8.6,0,0,0,5.81,.74,8.6,.41,1.54,1.6,2.74,3.14,3.16,2.77,.74,13.86,.74,13.86,.74,0,0,11.1,0,13.86-.75,1.53-.42,2.73-1.62,3.14-3.15,.74-2.78,.74-8.6,.74-8.6,0,0,0-5.81-.74-8.6M14.11,17.78V7.22l9.27,5.28-9.27,5.28Z"/></g></g></svg>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer__block">
      <!-- ************************************************************
//
//  logoblock
//
// ************************************************************ -->
<div class="logoblock">
  <div class="logomain">
    <a href="/" class=" -pc -sp">
      <?xml version="1.0" encoding="UTF-8"?><svg id="uuid-dc0f62a0-7b1b-4551-b365-5e40a5c71c79" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 190.31 49.32"><path id="uuid-abd42651-a1c8-4cc4-8dec-bf2ae2ff7fb5" d="M17.49,0C23.54,0,26.24,3.46,27.71,3.46c.76,0,1.06-.35,1.06-2.88h1.23l.88,16.15h-1.24C28.64,6.69,24.54,2,17.96,2,9.16,2,3.93,12.1,3.93,24.66s5.23,22.54,13.97,22.54c7.45,0,12.56-7.28,13.85-18.02h1.23c-1.41,11.74-6.4,20.14-15.79,20.14C6.46,49.31,0,38.45,0,24.66S6.75,0,17.5,0"/><path id="uuid-0541d1e6-4536-49aa-be69-a121b58f0169" d="M67.61,6.81V42.51c0,3.58,.53,4.4,6.16,4.4v1.23h-15.85v-1.23c5.58,0,6.1-.82,6.1-4.4V24.13h-18.88v18.38c0,3.58,.47,4.4,6.1,4.4v1.23h-15.85v-1.23c5.64,0,6.11-.82,6.11-4.4V6.8c0-3.58-.47-4.4-6.11-4.4V1.17h15.86v1.23c-5.63,0-6.1,.82-6.1,4.4v15.33h18.88V6.81c0-3.58-.53-4.4-6.1-4.4V1.17h15.85v1.23c-5.63,0-6.16,.82-6.16,4.4"/><path id="uuid-f3b4c0db-4b24-425c-afdc-33ddf37cefeb" d="M75.39,24.66c0-13.56,6.4-24.66,17.15-24.66s17.14,11.1,17.14,24.66-6.34,24.66-17.14,24.66-17.15-11.1-17.15-24.66m30.24-1.17c-1.18-13.27-6.99-22.25-15.09-21.55-8.1,.76-12.33,10.57-11.15,23.89,1.18,13.27,6.99,22.19,15.15,21.49,8.1-.76,12.27-10.51,11.09-23.84"/><path id="uuid-db80e422-60cf-4b53-a7a7-6cf747c69a06" d="M110.79,2.41V1.17h15.85v1.23c-5.64,0-6.11,.82-6.11,4.4V42.5c0,3.58,.47,4.4,6.11,4.4v1.23h-15.85v-1.23c5.64,0,6.11-.82,6.11-4.4V6.81c0-3.58-.47-4.4-6.11-4.4m38.29,44.5v1.23h-13.85v-1.23c4.7,0,3.99-.3,1.7-3.11l-16.56-19.96,14.97-18.32c2.29-2.82,2.94-3.11-1.82-3.11V1.17h11.74v1.23c-3.4,0-5.05,.29-7.34,3.11l-13.68,16.85,17.43,21.43c2.29,2.82,3.99,3.11,7.4,3.11"/><path id="uuid-b28954cd-36c8-487c-bcc4-1c103684a921" d="M176.1,2.41V1.17h14.21v1.23c-5.58,0-6.1,.82-6.1,4.4v27.42c0,7.1-2.82,15.09-13.97,15.09-11.98,0-15.62-7.4-15.62-15.27V6.81c0-3.58-.47-4.4-6.11-4.4V1.17h15.85v1.23c-5.64,0-6.1,.82-6.1,4.4v27.42c0,9.1,4.17,13.09,12.21,13.09,7.1,0,11.74-3.99,11.74-13.09V6.81c0-3.58-.47-4.4-6.11-4.4"/></svg>
    </a>
  </div>
  <div class="logosub is-pc">
    <div class="svgwrap  -pc">
      <?xml version="1.0" encoding="UTF-8"?><svg id="uuid-05d1c581-b88b-4230-b6c0-98c0b520fe07" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 112.65 46.81"><g id="uuid-def5639c-3962-49c9-9434-be1ad5fcb365"><path id="uuid-1420258f-ef53-497b-94b7-59b463dfd095" d="M43.91,2.27c0-1.44-.21-1.77-2.45-1.77V0h6.37V.5c-2.26,0-2.48,.33-2.48,1.77V12.81c0,4.27-.85,5.81-2.76,5.81-1.28,.15-2.44-.77-2.59-2.05-.02-.13-.02-.27-.01-.4-.06-.5,.31-.95,.81-1.01,.03,0,.06,0,.09,0,.45-.03,.84,.3,.88,.76,0,.05,0,.11,0,.16,0,.68-.21,1.75,.76,1.75,1.23,0,1.39-1.63,1.39-4.13V2.27Z"/><path id="uuid-6a5c6113-d2b9-40ee-9c23-445557b6d925" d="M56.39,16.61c-.31,1.13-.59,2.01-1.67,2.01s-1.44-.87-1.44-2.03v-.45h-.04c-.4,.71-1.39,2.48-3.3,2.48-1.65,0-2.45-1.18-2.45-2.9,0-2.97,2.41-3.96,4.72-5.1l1.08-.52v-1.18c0-1.6-.17-2.9-1.98-2.9-1.04,0-1.87,.5-1.87,1.25,0,.54,.45,.9,.45,1.44,0,.43-.33,.71-.85,.71-.59,0-.94-.52-.94-1.49,0-1.58,1.39-2.6,3.33-2.6s3.19,1.04,3.19,3.66v7.67c0,.78,.05,1.16,.47,1.16,.35,0,.52-.35,.83-1.2h.49Zm-3.11-1.23v-4.53l-1.06,.52c-1.94,.97-3.38,2.12-3.38,4.06,0,1.32,.59,2.01,1.6,2.01,1.06,0,1.77-.64,2.83-2.05"/><path id="uuid-4d79a6c0-0780-46f3-999c-fcb87daabb3b" d="M66.19,11.25c0,3.87-1.39,7.36-3.89,7.36-1.21-.02-2.31-.72-2.83-1.82h-.05v3.17c0,1.49,.16,1.77,1.53,1.77v.5h-4.39v-.5c1.37,0,1.56-.28,1.56-1.77V8.06c0-1.46,.05-1.72-1.2-1.16l-.21-.45,2.45-1.13,.26,.28v2.43h.1c.94-1.67,2.03-2.71,3.47-2.71,2.31,0,3.21,2.79,3.21,5.92m-1.46,.68c0-3.38-.52-5.5-2.22-5.5-1.32,0-2.43,1.27-3.09,2.36v4.84c0,2.64,1.18,4.18,2.74,4.18,1.98,0,2.57-3.09,2.57-5.88"/><path id="uuid-972cb592-9dd6-4781-a6db-0e5e01efbaca" d="M76.57,16.61c-.31,1.13-.59,2.01-1.67,2.01s-1.44-.87-1.44-2.03v-.45h-.05c-.4,.71-1.39,2.48-3.3,2.48-1.65,0-2.45-1.18-2.45-2.9,0-2.97,2.41-3.96,4.72-5.1l1.09-.52v-1.18c0-1.6-.17-2.9-1.98-2.9-1.04,0-1.86,.5-1.86,1.25,0,.54,.45,.9,.45,1.44,0,.43-.33,.71-.85,.71-.59,0-.94-.52-.94-1.49,0-1.58,1.39-2.6,3.33-2.6s3.18,1.04,3.18,3.66v7.67c0,.78,.05,1.16,.47,1.16,.35,0,.52-.35,.83-1.2h.49Zm-3.11-1.23v-4.53l-1.06,.52c-1.94,.97-3.38,2.12-3.38,4.06,0,1.32,.59,2.01,1.6,2.01,1.06,0,1.77-.64,2.83-2.05"/><path id="uuid-441afbb0-c5b5-4708-b9eb-74b2e4e0248b" d="M80.44,7.52h.07c.85-1.25,1.89-2.19,3.16-2.19,1.7,0,2.31,1.27,2.31,3.16v7.39c0,1.46,.17,1.77,1.56,1.77v.5h-4.37v-.5c1.34,0,1.51-.31,1.51-1.77v-7.39c0-1.39-.45-2.1-1.42-2.1s-2.01,.9-2.83,1.94v7.55c0,1.46,.17,1.77,1.49,1.77v.5h-4.34v-.5c1.37,0,1.53-.31,1.53-1.77v-7.81c0-1.46,.05-1.72-1.2-1.16l-.21-.45,2.45-1.13,.28,.28v1.91Z"/><path id="uuid-05c656ac-9468-46c2-a091-657e7f111afa" d="M95.59,13.11c-.38,3.7-1.91,5.5-3.75,5.5-2.48,0-3.82-2.69-3.82-6.61,0-3.63,1.46-6.68,4.03-6.68,2.2,0,3.49,2.38,3.49,5.9h-6.13v.52c0,3.05,1.01,5.66,2.76,5.66,1.16,0,2.34-1.08,2.93-4.29h.49Zm-6.14-2.7h4.7c0-2.15-.57-4.3-2.17-4.3-1.51,0-2.31,1.93-2.53,4.3"/><path id="uuid-b73c118a-323b-4cad-b913-a5f8e9286167" d="M97.14,13.75h.5c.26,2.38,1.35,4.06,3.02,4.06,1.11,0,1.58-.76,1.58-1.89,0-1.63-1.18-2.66-2.64-4.01-1.39-1.27-2.48-2.29-2.48-3.89-.05-1.44,1.07-2.64,2.51-2.69,.05,0,.11,0,.16,0,1.51,0,1.98,.94,2.36,.94,.26,0,.26-.24,.26-.71h.5v3.77h-.5c-.28-1.77-1.13-3.21-2.55-3.21-.8-.02-1.47,.61-1.49,1.4,0,.04,0,.09,0,.13,0,1.3,1.04,2.29,2.34,3.42,2.03,1.77,2.78,2.76,2.78,4.58,.14,1.48-.94,2.79-2.42,2.94-.11,.01-.23,.01-.35,.01-1.65,0-2.29-.95-2.74-.95-.28,0-.35,.24-.35,.71h-.5v-4.62Z"/><path id="uuid-a8c5e38a-d891-4ef2-a47d-6dc87cfb5078" d="M112.2,13.11c-.38,3.7-1.91,5.5-3.75,5.5-2.48,0-3.82-2.69-3.82-6.61,0-3.63,1.46-6.68,4.04-6.68,2.19,0,3.49,2.38,3.49,5.9h-6.14v.52c0,3.05,1.01,5.66,2.76,5.66,1.16,0,2.34-1.08,2.93-4.29h.49Zm-6.13-2.7h4.69c0-2.15-.57-4.3-2.17-4.3-1.51,0-2.31,1.93-2.52,4.3"/><path id="uuid-4d65cb06-0342-48a1-819a-01284de3d6c0" d="M7.03,26.99c2.43,0,3.52,1.39,4.1,1.39,.31,0,.43-.14,.43-1.16h.5l.35,6.49h-.5c-.4-4.03-2.05-5.92-4.69-5.92-3.54,0-5.64,4.06-5.64,9.11s2.1,9.06,5.62,9.06c3,0,5.05-2.93,5.57-7.24h.5c-.57,4.72-2.57,8.1-6.35,8.1-4.32,0-6.91-4.37-6.91-9.91s2.71-9.91,7.03-9.91"/><path id="uuid-a93e19a6-0530-407f-858d-4b498f86be69" d="M21.22,34.63c.02,.49-.36,.9-.85,.92-.02,0-.03,0-.05,0-.35,.03-.69-.17-.83-.5-.1-.24-.21-.33-.42-.33-.71,0-1.23,.66-2.15,2.15v7.2c0,1.46,.24,1.77,2.31,1.77v.5h-5.17v-.5c1.37,0,1.53-.31,1.53-1.77v-7.81c0-1.46,.05-1.72-1.2-1.15l-.21-.45,2.45-1.13,.29,.28v1.98h.07c.61-1.09,1.51-2.27,2.83-2.27,.8,0,1.39,.42,1.39,1.11"/><path id="uuid-74ed6a27-0460-4c42-978a-9c918189aa52" d="M30.77,44.8c-.31,1.13-.59,2.01-1.67,2.01s-1.44-.87-1.44-2.03v-.45h-.05c-.4,.71-1.39,2.48-3.3,2.48-1.65,0-2.45-1.18-2.45-2.9,0-2.97,2.41-3.96,4.72-5.1l1.09-.52v-1.18c0-1.6-.17-2.9-1.98-2.9-1.04,0-1.86,.5-1.86,1.25,0,.54,.45,.9,.45,1.44,0,.43-.33,.71-.85,.71-.59,0-.94-.52-.94-1.49,0-1.58,1.39-2.6,3.33-2.6s3.19,1.04,3.19,3.66v7.67c0,.78,.05,1.16,.47,1.16,.35,0,.52-.35,.83-1.2h.49Zm-3.11-1.23v-4.53l-1.06,.52c-1.94,.97-3.38,2.12-3.38,4.06,0,1.32,.59,2.01,1.6,2.01,1.06,0,1.77-.64,2.83-2.05"/><path id="uuid-42d1b969-83e2-4ad6-b0d5-068fa15c11b6" d="M39.6,29.26c.06,.48-.28,.92-.76,.99-.04,0-.08,0-.11,0-.48,.03-.89-.34-.92-.82,0-.04,0-.09,0-.13-.03-.64-.07-1.51-1.23-1.51-1.67,0-2.03,1.65-2.03,3.87v2.34h2.2v.8h-2.2v9.27c0,1.46,.26,1.77,2.29,1.77v.5h-5.12v-.5c1.37,0,1.53-.31,1.53-1.77v-9.27h-1.53v-.8h1.53v-1.37c0-3.56,.99-5.64,3.56-5.64,1.37-.08,2.58,.9,2.79,2.27"/><path id="uuid-772549a4-4c2a-42cc-b867-c3022fa78404" d="M44.17,41.15c-.02,3.68-.45,5.66-2.45,5.66-1.6,0-2.5-1.13-2.5-4.25v-7.76h-1.96v-.8c2.03-.02,2.62-.9,2.69-3.38h.56v3.37h2.86v.8h-2.86v6.9c0,2.48,.1,4.03,1.51,4.03,1.13,0,1.63-1.11,1.65-4.58h.49Z"/><path id="uuid-3ed531a4-8f18-444d-a378-e7c129d1f502" d="M51.58,39.64h.5c.02,3.94,2.22,6.37,4.6,6.37,1.76,.1,3.28-1.24,3.38-3.01,0-.15,0-.31,0-.46,0-2.29-2.31-4.01-4.74-6.09-2.55-2.24-3.75-3.33-3.75-5.57,0-2.45,1.82-3.89,4.27-3.89s3.49,1.79,3.99,1.79c.21,0,.31-.14,.31-1.34h.52v5.47h-.52c-.02-2.97-1.79-5.12-4.22-5.12-1.48-.18-2.82,.88-3,2.36-.01,.12-.02,.25-.02,.38,0,2.1,2.12,3.54,3.85,5.07,3.11,2.76,4.65,3.87,4.65,6.77,.05,2.4-1.85,4.39-4.25,4.44-.08,0-.15,0-.23,0-2.83,0-3.63-1.84-4.32-1.84-.38,0-.5,.35-.5,1.39h-.5v-6.72Z"/><path id="uuid-50a5b400-7070-454e-b7b3-31688ee71d2a" d="M65.6,35.72h.07c.85-1.25,1.89-2.19,3.16-2.19,1.7,0,2.32,1.27,2.32,3.16v7.39c0,1.46,.16,1.77,1.56,1.77v.5h-4.36v-.5c1.34,0,1.51-.31,1.51-1.77v-7.39c0-1.39-.45-2.1-1.42-2.1-1.01,0-2.01,.9-2.83,1.93v7.55c0,1.46,.16,1.77,1.49,1.77v.5h-4.34v-.5c1.37,0,1.53-.31,1.53-1.77v-14.34c0-1.49,.05-1.75-1.2-1.16l-.21-.47,2.45-1.11,.28,.26v8.47Z"/><path id="uuid-1947b640-4c8e-4ab8-82c7-85c389c963f8" d="M73.31,40.18c0-3.71,1.72-6.66,4.67-6.66s4.65,2.95,4.65,6.66-1.72,6.63-4.65,6.63-4.67-2.95-4.67-6.63m7.83-.28c-.31-3.59-1.72-5.71-3.68-5.55-1.96,.19-2.97,2.5-2.66,6.11,.33,3.59,1.72,5.71,3.68,5.52,1.96-.17,2.97-2.5,2.67-6.09"/><path id="uuid-b30d5a93-4b72-460d-9e13-9bd5b14d15a8" d="M88.41,34.33c-1.84,0-2.76,2.22-2.76,5.73s1.16,5.61,3.09,5.61c1.3,0,2.17-1.08,2.78-4.18h.5c-.38,3.52-1.68,5.31-3.73,5.31-2.67,0-4.1-2.69-4.1-6.39,0-4.18,1.7-6.89,4.32-6.89,1.67,.02,3.02,1.35,3.07,3.02,0,.66-.26,1.06-.85,1.06s-.92-.38-.95-1.13c-.02-1.16-.35-2.15-1.37-2.15"/><path id="uuid-60ba2afa-5a56-4e07-85d6-22190ef294f1" d="M95.85,35.72h.07c.85-1.25,1.89-2.19,3.16-2.19,1.7,0,2.32,1.27,2.32,3.16v7.39c0,1.46,.16,1.77,1.56,1.77v.5h-4.36v-.5c1.34,0,1.51-.31,1.51-1.77v-7.39c0-1.39-.45-2.1-1.41-2.1-1.01,0-2.01,.9-2.83,1.93v7.55c0,1.46,.16,1.77,1.49,1.77v.5h-4.34v-.5c1.37,0,1.53-.31,1.53-1.77v-14.34c0-1.49,.05-1.75-1.2-1.16l-.21-.47,2.45-1.11,.28,.26v8.47Z"/><path id="uuid-e6325e3d-1f8d-4707-8360-7a7f7c283a85" d="M109.93,44.61h-.07c-.85,1.25-1.86,2.2-3.16,2.2-1.67,0-2.29-1.27-2.29-3.16v-7.31c0-1.49-.02-1.75-1.35-1.32l-.17-.47,2.55-.8,.26,.26v9.65c0,1.39,.45,2.12,1.42,2.12s1.96-.9,2.81-1.96v-7.48c0-1.49-.02-1.75-1.35-1.32l-.14-.47,2.53-.8,.26,.26v10.07c0,1.49-.05,1.75,1.2,1.18l.21,.45-2.45,1.11-.26-.26v-1.94Z"/></g></svg>
    </div>
  </div>
  <div class="logosub is-sp">
    <div class="svgwrap">
      <svg xmlns="http://www.w3.org/2000/svg" width="91.492" height="38.017" viewBox="0 0 91.492 38.017">
  <g id="グループ_158" data-name="グループ 158" transform="translate(-25.666 10582.561)">
    <path id="パス_191" data-name="パス 191" d="M29.391-10580.721c0-1.169-.172-1.438-1.994-1.438v-.4h5.175v.4c-1.84,0-2.013.27-2.013,1.438v8.561c0,3.469-.689,4.715-2.242,4.715a1.9,1.9,0,0,1-2.107-1.994.742.742,0,0,1,.727-.823.665.665,0,0,1,.709.748c0,.556-.171,1.418.614,1.418,1,0,1.131-1.322,1.131-3.354Z" fill="#eaeae8"/>
    <path id="パス_192" data-name="パス 192" d="M39.528-10569.074c-.249.92-.479,1.629-1.36,1.629-.92,0-1.169-.709-1.169-1.648v-.364H36.96c-.325.575-1.131,2.013-2.683,2.013-1.342,0-1.993-.959-1.993-2.357,0-2.414,1.955-3.22,3.833-4.14l.882-.422v-.958c0-1.3-.135-2.356-1.61-2.356-.843,0-1.514.4-1.514,1.015,0,.441.364.729.364,1.169,0,.345-.268.575-.69.575-.48,0-.767-.421-.767-1.207,0-1.284,1.131-2.108,2.7-2.108s2.587.844,2.587,2.971v6.229c0,.632.039.939.384.939.287,0,.422-.287.671-.978Zm-2.529-1v-3.68l-.863.422c-1.572.786-2.741,1.726-2.741,3.3,0,1.074.48,1.629,1.3,1.629C35.561-10568.4,36.136-10568.921,37-10570.071Z" fill="#eaeae8"/>
    <path id="パス_193" data-name="パス 193" d="M47.481-10573.425c0,3.143-1.13,5.979-3.162,5.979a2.587,2.587,0,0,1-2.3-1.476h-.038v2.572c0,1.207.135,1.437,1.246,1.437v.4H39.663v-.4c1.111,0,1.265-.229,1.265-1.437v-9.663c0-1.188.038-1.4-.978-.939l-.173-.364,1.993-.92.211.23v1.974h.078c.766-1.36,1.647-2.2,2.817-2.2C46.754-10578.235,47.481-10575.974,47.481-10573.425Zm-1.187.556c0-2.741-.422-4.466-1.8-4.466-1.073,0-1.974,1.035-2.511,1.917v3.929c0,2.146.958,3.393,2.224,3.393C45.814-10568.1,46.294-10570.608,46.294-10572.869Z" fill="#eaeae8"/>
    <path id="パス_194" data-name="パス 194" d="M55.915-10569.074c-.249.92-.48,1.629-1.36,1.629-.92,0-1.169-.709-1.169-1.648v-.364h-.039c-.326.575-1.131,2.013-2.683,2.013-1.342,0-1.993-.959-1.993-2.357,0-2.414,1.955-3.22,3.833-4.14l.882-.422v-.958c0-1.3-.135-2.356-1.611-2.356-.842,0-1.513.4-1.513,1.015,0,.441.364.729.364,1.169,0,.345-.269.575-.691.575-.479,0-.766-.421-.766-1.207,0-1.284,1.131-2.108,2.7-2.108s2.587.844,2.587,2.971v6.229c0,.632.039.939.384.939.287,0,.422-.287.671-.978Zm-2.529-1v-3.68l-.864.422c-1.571.786-2.74,1.726-2.74,3.3,0,1.074.48,1.629,1.3,1.629C51.948-10568.4,52.522-10568.921,53.386-10570.071Z" fill="#eaeae8"/>
    <path id="パス_195" data-name="パス 195" d="M59.058-10576.453h.057a3.338,3.338,0,0,1,2.568-1.782c1.379,0,1.878,1.035,1.878,2.568v6c0,1.188.134,1.438,1.265,1.438v.4H61.28v-.4c1.093,0,1.227-.249,1.227-1.437v-6c0-1.131-.365-1.706-1.15-1.706a3.421,3.421,0,0,0-2.3,1.572v6.132c0,1.188.133,1.438,1.207,1.438v.4H56.738v-.4c1.112,0,1.246-.249,1.246-1.437v-6.343c0-1.188.038-1.4-.977-.939l-.173-.364,1.993-.92.231.23Z" fill="#eaeae8"/>
    <path id="パス_196" data-name="パス 196" d="M71.361-10571.911c-.306,3.009-1.552,4.466-3.047,4.466-2.012,0-3.105-2.185-3.105-5.366,0-2.951,1.188-5.424,3.277-5.424,1.782,0,2.837,1.936,2.837,4.791H66.34v.422c0,2.473.824,4.6,2.242,4.6.939,0,1.9-.881,2.377-3.488Zm-4.983-2.185h3.814c0-1.744-.46-3.488-1.763-3.488C67.2-10577.584,66.551-10576.012,66.378-10574.1Z" fill="#eaeae8"/>
    <path id="パス_197" data-name="パス 197" d="M72.626-10571.393h.4c.211,1.935,1.093,3.3,2.453,3.3.9,0,1.285-.613,1.285-1.533,0-1.323-.958-2.166-2.147-3.258-1.131-1.035-2.013-1.859-2.013-3.162a2.111,2.111,0,0,1,2.166-2.186c1.227,0,1.61.767,1.916.767.211,0,.211-.191.211-.575h.4v3.067h-.4c-.229-1.438-.92-2.607-2.069-2.607a1.176,1.176,0,0,0-1.208,1.246c0,1.054.844,1.859,1.9,2.779,1.649,1.437,2.262,2.241,2.262,3.718a2.185,2.185,0,0,1-2.242,2.4c-1.342,0-1.859-.767-2.224-.767-.229,0-.287.192-.287.575h-.4Z" fill="#eaeae8"/>
    <path id="パス_198" data-name="パス 198" d="M84.852-10571.911c-.306,3.009-1.552,4.466-3.046,4.466-2.013,0-3.106-2.185-3.106-5.366,0-2.951,1.189-5.424,3.277-5.424,1.783,0,2.837,1.936,2.837,4.791H79.831v.422c0,2.473.824,4.6,2.242,4.6.94,0,1.9-.881,2.377-3.488Zm-4.982-2.185h3.814c0-1.744-.46-3.488-1.764-3.488C80.693-10577.584,80.042-10576.012,79.87-10574.1Z" fill="#eaeae8"/>
    <path id="パス_199" data-name="パス 199" d="M31.378-10560.643c1.974,0,2.856,1.131,3.334,1.131.25,0,.346-.115.346-.939h.4l.287,5.271h-.4c-.326-3.277-1.667-4.811-3.813-4.811-2.875,0-4.582,3.3-4.582,7.4s1.707,7.359,4.562,7.359c2.434,0,4.1-2.377,4.522-5.884h.4c-.46,3.833-2.089,6.574-5.155,6.574-3.508,0-5.617-3.546-5.617-8.05S27.87-10560.643,31.378-10560.643Z" fill="#eaeae8"/>
    <path id="パス_200" data-name="パス 200" d="M42.9-10554.433a.719.719,0,0,1-.728.747.667.667,0,0,1-.671-.4c-.077-.192-.172-.27-.344-.27-.576,0-1,.537-1.745,1.744v5.847c0,1.188.192,1.437,1.878,1.437v.4h-4.2v-.4c1.111,0,1.246-.249,1.246-1.437v-6.345c0-1.187.038-1.4-.977-.938l-.173-.364,1.993-.92.23.23v1.609h.058c.5-.882,1.227-1.84,2.3-1.84C42.417-10555.334,42.9-10554.989,42.9-10554.433Z" fill="#eaeae8"/>
    <path id="パス_201" data-name="パス 201" d="M50.658-10546.173c-.25.92-.48,1.629-1.361,1.629-.92,0-1.169-.709-1.169-1.648v-.364h-.039c-.325.574-1.131,2.013-2.682,2.013-1.342,0-1.994-.958-1.994-2.357,0-2.415,1.955-3.22,3.833-4.14l.882-.422v-.958c0-1.3-.135-2.357-1.61-2.357-.843,0-1.514.4-1.514,1.016,0,.44.364.729.364,1.169,0,.345-.268.575-.69.575-.479,0-.767-.422-.767-1.207,0-1.284,1.131-2.108,2.7-2.108s2.586.843,2.586,2.97v6.229c0,.633.04.938.384.938.287,0,.422-.287.671-.977Zm-2.53-1v-3.679l-.863.421c-1.571.786-2.74,1.725-2.74,3.3,0,1.073.479,1.629,1.3,1.629C46.691-10545.5,47.265-10546.02,48.128-10547.17Z" fill="#eaeae8"/>
    <path id="パス_202" data-name="パス 202" d="M57.825-10558.8a.713.713,0,0,1-.709.8.708.708,0,0,1-.748-.767c-.019-.518-.057-1.227-1-1.227-1.361,0-1.648,1.341-1.648,3.144v1.9h1.782v.652H53.724v7.532c0,1.188.211,1.437,1.858,1.437v.4H51.424v-.4c1.111,0,1.245-.249,1.245-1.437v-7.532H51.424v-.652h1.245v-1.11c0-2.895.806-4.581,2.9-4.581A2.159,2.159,0,0,1,57.825-10558.8Z" fill="#eaeae8"/>
    <path id="パス_203" data-name="パス 203" d="M61.543-10549.144c-.019,2.989-.364,4.6-1.993,4.6-1.3,0-2.031-.92-2.031-3.45v-6.3H55.928v-.652c1.648-.019,2.127-.728,2.185-2.74h.46v2.74h2.319v.652H58.573v5.6c0,2.012.077,3.277,1.226,3.277.92,0,1.322-.9,1.342-3.718Z" fill="#eaeae8"/>
    <path id="パス_204" data-name="パス 204" d="M67.56-10550.37h.4c.019,3.2,1.8,5.174,3.737,5.174a2.6,2.6,0,0,0,2.741-2.816c0-1.859-1.878-3.259-3.853-4.945-2.069-1.82-3.047-2.7-3.047-4.523,0-1.992,1.476-3.161,3.469-3.161,2.089,0,2.837,1.457,3.239,1.457.172,0,.249-.115.249-1.094h.421v4.447H74.5c-.019-2.415-1.457-4.159-3.43-4.159a2.2,2.2,0,0,0-2.453,2.224c0,1.706,1.724,2.875,3.124,4.119,2.529,2.243,3.775,3.144,3.775,5.5a3.531,3.531,0,0,1-3.642,3.6c-2.3,0-2.951-1.5-3.506-1.5-.307,0-.4.287-.4,1.131h-.4Z" fill="#eaeae8"/>
    <path id="パス_205" data-name="パス 205" d="M78.945-10553.552H79a3.336,3.336,0,0,1,2.568-1.782c1.38,0,1.879,1.035,1.879,2.568v6c0,1.188.133,1.437,1.264,1.437v.4H81.167v-.4c1.093,0,1.227-.249,1.227-1.437v-6c0-1.132-.364-1.706-1.15-1.706a3.425,3.425,0,0,0-2.3,1.571v6.134c0,1.188.133,1.437,1.207,1.437v.4H76.625v-.4c1.112,0,1.246-.249,1.246-1.437v-11.653c0-1.207.038-1.418-.977-.939l-.173-.383,1.993-.9.231.211Z" fill="#eaeae8"/>
    <path id="パス_206" data-name="パス 206" d="M85.21-10549.93c0-3.009,1.4-5.4,3.795-5.4,2.377,0,3.776,2.4,3.776,5.4,0,2.989-1.4,5.386-3.776,5.386C86.61-10544.544,85.21-10546.94,85.21-10549.93Zm6.364-.23c-.249-2.913-1.4-4.637-2.991-4.5-1.59.153-2.414,2.031-2.165,4.963.269,2.914,1.4,4.639,2.99,4.485C91-10545.349,91.823-10547.246,91.574-10550.16Z" fill="#eaeae8"/>
    <path id="パス_207" data-name="パス 207" d="M97.476-10554.682c-1.494,0-2.242,1.8-2.242,4.656,0,2.76.939,4.562,2.51,4.562,1.054,0,1.763-.882,2.262-3.393h.4c-.306,2.855-1.36,4.313-3.028,4.313-2.166,0-3.335-2.185-3.335-5.194,0-3.392,1.38-5.6,3.508-5.6a2.515,2.515,0,0,1,2.491,2.453c0,.537-.211.862-.689.862s-.748-.307-.768-.92C98.569-10553.878,98.3-10554.682,97.476-10554.682Z" fill="#eaeae8"/>
    <path id="パス_208" data-name="パス 208" d="M103.513-10553.552h.058a3.334,3.334,0,0,1,2.567-1.782c1.38,0,1.879,1.035,1.879,2.568v6c0,1.188.134,1.437,1.265,1.437v.4h-3.546v-.4c1.092,0,1.226-.249,1.226-1.437v-6c0-1.132-.364-1.706-1.149-1.706a3.426,3.426,0,0,0-2.3,1.571v6.134c0,1.188.134,1.437,1.207,1.437v.4h-3.526v-.4c1.111,0,1.246-.249,1.246-1.437v-11.653c0-1.207.038-1.418-.978-.939l-.173-.383,1.994-.9.23.211Z" fill="#eaeae8"/>
    <path id="パス_209" data-name="パス 209" d="M114.953-10546.327H114.9a3.308,3.308,0,0,1-2.569,1.783c-1.36,0-1.858-1.035-1.858-2.568v-5.94c0-1.208-.019-1.419-1.093-1.074l-.134-.383,2.07-.652.211.211v7.839c0,1.13.364,1.726,1.15,1.726a3.4,3.4,0,0,0,2.28-1.591v-6.075c0-1.208-.018-1.419-1.092-1.074l-.115-.383,2.051-.652.21.211v8.185c0,1.207-.038,1.418.978.958l.173.363-1.994.9-.211-.211Z" fill="#eaeae8"/>
  </g>
</svg>

    </div>
  </div>
</div>
    </div>
  </div>
</footer>


</div>
</div>
