<% var rootPATH = './', PATH = './', page = 'top'; %>
<!DOCTYPE html>
<html lang="ja">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1 ,user-scalable=no">
<%- include(rootPATH + 'inc/_style'); %>
<link href="<%- PATH %>assets/css/style.css" rel="stylesheet">
</head>
<body id="<%- page %>" class="">

<div id="wrapper" class="id_<%- page %>">
<div id="inner">

	<!-- <div class="circle"></div> -->

	<div class="box"></div>
	<div class="box"></div>
	<div class="box"></div>

</div>
</div>

<%- include(rootPATH + 'inc/_script', {PATH: PATH}); %>
<script src='./assets/js/shader/RGBShiftShader.js'></script>
</body>
</html>