<!-- ************************************************************
//  block01
// ************************************************************ -->
<div class="block block01">
	
	<!-- box -->
	<div class="box lineBoxWrapMV">
		<div class="imgWrap"><div class="img imgMv"></div></div>
		<div class="text textObiTop">
			<div class="bg"></div>
			<%- include('../../../../dist/assets/resource/img_sp/sec01/text.svg'); %>
		</div>

		<div class="list flex">
			<div class="item toScroll" data-link="#wrapper"><div class="in hover_op">TOP</div></div>
			<div class="item toScroll" data-link=".block02"><div class="in hover_op">MOVIE</div></div>
			<div class="item toScroll" data-link=".block03"><div class="in hover_op">INTRODUCTION</div></div>
			<div class="item toScroll" data-link=".block04"><div class="in hover_op">CAST</div></div>
			<div class="item toScroll" data-link=".block06"><div class="in hover_op">MUSIC</div></div>
			<div class="item toScroll" data-link=".block07"><div class="in hover_op">STAFF</div></div>
			<div class="item toScroll" data-link=".toSpecial"><div class="in hover_op">SPECIAL</div></div>
		</div>
	</div>
	
	<!-- box -->
	<div class="box">
		<div class="titWrap">
			<div class="tit titMtach">
				<img src="./assets/resource/img_sp/sec01/tit_match.png" alt="" class="responsiveImg base">

				<div class="tit_matches">
					<div class="letter M">
						<div class="itemW"><div class="co matchD"><div class="item"><div class="itemIn"><img src="./assets/resource/img_sp/common/match1.png" alt=""></div></div></div></div>
						<div class="itemW"><div class="co matchD"><div class="item"><div class="itemIn"><img src="./assets/resource/img_sp/common/match1.png" alt=""></div></div></div></div>
						<div class="itemW"><div class="co matchD"><div class="item"><div class="itemIn"><img src="./assets/resource/img_sp/common/match1.png" alt=""></div></div></div></div>
						<div class="itemW"><div class="co matchD"><div class="item"><div class="itemIn"><img src="./assets/resource/img_sp/common/match1.png" alt=""></div></div></div></div>
					</div>
					<div class="letter A">
						<div class="itemW"><div class="co matchD"><div class="item"><div class="itemIn"><img src="./assets/resource/img_sp/common/match1.png" alt=""></div></div></div></div>
						<div class="itemW"><div class="co matchD"><div class="item"><div class="itemIn"><img src="./assets/resource/img_sp/common/match1.png" alt=""></div></div></div></div>
						<div class="itemW"><div class="co matchD"><div class="item"><div class="itemIn"><img src="./assets/resource/img_sp/common/match1.png" alt=""></div></div></div></div>
					</div>
					<div class="letter T">
						<div class="itemW"><div class="co matchD"><div class="item"><div class="itemIn"><img src="./assets/resource/img_sp/common/match1.png" alt=""></div></div></div></div>
						<div class="itemW"><div class="co matchD"><div class="item"><div class="itemIn"><img src="./assets/resource/img_sp/common/match1.png" alt=""></div></div></div></div>
					</div>
					<div class="letter C">
						<div class="itemW"><div class="co matchD"><div class="item"><div class="itemIn"><img src="./assets/resource/img_sp/common/match1.png" alt=""></div></div></div></div>
						<div class="itemW"><div class="co matchD"><div class="item"><div class="itemIn"><img src="./assets/resource/img_sp/common/match1.png" alt=""></div></div></div></div>
						<div class="itemW"><div class="co matchD"><div class="item"><div class="itemIn"><img src="./assets/resource/img_sp/common/match1.png" alt=""></div></div></div></div>
					</div>
					<div class="letter H">
						<div class="itemW"><div class="co matchD"><div class="item"><div class="itemIn"><img src="./assets/resource/img_sp/common/match1.png" alt=""></div></div></div></div>
						<div class="itemW"><div class="co matchD"><div class="item"><div class="itemIn"><img src="./assets/resource/img_sp/common/match1.png" alt=""></div></div></div></div>
						<div class="itemW"><div class="co matchD"><div class="item"><div class="itemIn"><img src="./assets/resource/img_sp/common/match1.png" alt=""></div></div></div></div>
					</div>
				</div>

			</div>
			<div class="subTit titGirl"><%- include('../../../../dist/assets/resource/img_sp/sec01/logo_title.svg'); %></div>
		</div>
		<div class="webtext"><%- include('../../../../dist/assets/resource/img_sp/sec01/top_web.svg'); %></div>
		<div class="text display sp textObi"><%- include('../../../../dist/assets/resource/img_sp/sec01/text_low.svg'); %></div>
		<div class="text display pc textObi"><%- include('../../../../dist/assets/resource/img_pc/sec01/text_low.svg'); %></div>
		<div class="logotop"><%- include('../../../../dist/assets/resource/img_sp/sec01/top_logo.svg'); %></div>
	</div>
	
	<!-- scroll -->
	<div class="scroll">
		<div class="text">SCROLL</div>
		<div class="img"><img src="./assets/resource/img_sp/sec01/scroll.jpg" alt=""></div>
	</div>

</div>	