<!-- ************************************************************
//  block02
// ************************************************************ -->
<div class="block block02">

	<!-- box -->	
	<div class="box">

		<div class="titWrap">
		<div class="titInner">
			<div class="tit">MOVIE</div>
			<div class="text">ムービー</div>
		</div>
		</div>

		<div class="videoWrap scrollBox">
			
			<div class="lineBoxWrap"></div>
			<div class="cover"></div>
			<div class="cover cover2"></div>

			<div class="play open_opModal"><div class="playScale"></div><div class="playImg"></div></div>
		</div>

		<div class="text scrollBox flex">
			<div class="textInner movieBox">
				<div class="bg display sp"><%- include('../../../../dist/assets/resource/img_sp/sec02/rect.svg'); %></div>
				<div class="bg display pc"><%- include('../../../../dist/assets/resource/img_sp/common/rect_pc.svg'); %></div>
				<div class="textIn">本編</div>
			</div>
			<div class="textInner movieBox">
				<div class="bg display sp"><%- include('../../../../dist/assets/resource/img_sp/sec02/rect.svg'); %></div>
				<div class="bg display pc"><%- include('../../../../dist/assets/resource/img_sp/common/rect_pc.svg'); %></div>
				<div class="textIn">予告編</div>
			</div>
		</div>

		<div class="textWrap2 flex scrollBox toScroll" data-link=".toSpecial">
			<div class="text2 flex"><div class="in">MATCH girls 脚本公開中</div></div>
			<div class="ar"><%- include('../../../../dist/assets/resource/img_sp/common/arrow_movie.svg'); %></div>
		</div>

		<div class="textWrap3 scrollBox">
			<div class="tits display sp">				
				<div class="subText subText01"><div class="in">クリスマス限定ドラマ『MATCH girls』</div></div>
				<div class="subText subText02"><div class="in">映画館無料上映イベントのお知らせ</div></div>	
			</div>
			<div class="tits display pc">
				<div class="subText subText01"><div class="in">クリスマス限定ドラマ『MATCH girls』映画館無料上映</div></div>
				<div class="subText subText02"><div class="in">イベントのお知らせ</div></div>	
			</div>
			<div class="text">
				ルミネのクリスマス限定ドラマ『MATCH girls』をシネ・リーブル池袋にて1回限定で無料上映いたします！ご来場いただいた方の中から抽選でルミネからのスペシャルプレゼントもご用意☆<br>
				日時 ： 12月23日（日）　14:00〜15:00<br>
				場所 ： シネ・リーブル池袋<br>
				　　　&nbsp;&nbsp;東京都豊島区西池袋 1-11-1 ルミネ池袋 8F　<br>
				　　　&nbsp;&nbsp;<span><a href="https://ttcg.jp/cinelibre_ikebukuro/" class="blank">https://ttcg.jp/cinelibre_ikebukuro/</a></span><br>
				<br>
				入場方法 ： 先着順（115名様）<br>
				　　　　　&nbsp;&nbsp;上映日当日13:00より、シネ・リーブル池袋前で<br>
				　　　　　&nbsp;&nbsp;先着順で整理券を配布いたします。<br>
				　　　　　&nbsp;&nbsp;※整理券はお一人さま1枚限りです。<br>
				<br>
				※企画内容は予告なく変更になる場合がございます。<br>
				※イベントは予告なく中止になる場合がございます。<br>
				<br>
				問い合わせ先 ： ルミネ池袋お客様電話相談室<br>
				　　　　　　　&nbsp;&nbsp;0120-575-504(10:30〜18:00)<br>
				
			</div>
		</div>

	</div>
	
	<!-- box -->
	<div class="box">
		<div class="img scrollBox">
			<div class="bg"></div>
			<div class="text">私が思うに別所美幸はさ、</div>
			<div class="text">プライドが高くて色々損してるんだ。</div>
		</div>
		<div class="img scrollBox">
			<div class="bg"></div>
			<div class="text">かがんで。ブーメランが来てる。</div>
		</div>
	</div>

</div>	
