<% var rootPATH = '../', contentsPATH = './top/', PATH = './', page = 'top'; %>
<!DOCTYPE html>
<html lang="ja" class="htmlTop">
  <head>
    <%- include(rootPATH + 'inc/_meta', {data:data, meta:data['common']}); %>
    <link href="<%- PATH %>assets/css/style.css" rel="stylesheet" />
    <%- include(rootPATH + 'inc/_log'); %>
  </head>
  <body id="<%- page %>" class="">
    <div id="wrapper" class="id_<%- page %>">
      <div id="inner">
        <div class="section01">
          <div class="section01__inner">
            <div class="slider">
              <div class="sliider__imgarea">
                <div class="canvaswrap"></div>
                <div class="slider__img-dummy">
                  <img src="./assets/resource/img/_1.jpg" alt="" />
                </div>
              </div>
              <div class="sliider__txtarea">
                <div class="slider__title">TITLE</div>
                <div class="slider__txt">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Consequatur vel amet beatae alias consequuntur, similique
                  optio praesentium tempore accusantium, doloribus a rerum
                  ratione? Numquam perferendis vero libero, doloribus illum
                  doloremque.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include(rootPATH + 'inc/_script', {PATH: PATH}); %>
  </body>
</html>
