<!-- ************************************************************
//
//  age
//
// ************************************************************ -->
<div id="age" class="age_contents">
<div class="inner">

	<div class="tit hidePage"><%- include('../../../dist/assets/resource/svg/age/text.svg'); %></div>
	<div class="text hidePage"><%- include('../../../dist/assets/resource/svg/age/subtext.svg'); %></div>

	<div class="btns">
		<div class="btnInner flex">
			<div class="btn hideBtn tapBtn">
				<div class="iosBtn close_age_soundOn"><%- include('../../../dist/assets/resource/svg/age/yes_sound.svg'); %></div>
				<div class="androidBtn close_age_soundOff"><%- include('../../../dist/assets/resource/svg/age/yes.svg'); %></div>				
			</div>
			<div class="btn hideBtn tapBtn"><a href="https://www.suntory.co.jp/eco/circle/" class="notTransition"><%- include('../../../dist/assets/resource/svg/age/no.svg'); %></a></div>
		</div>
		<div class="btnInner">
			<div class="btn hideBtn tapBtn close_age_soundOff"><%- include('../../../dist/assets/resource/svg/age/yes_no_sound.svg'); %></div>
		</div>
	</div>

</div>
</div>