<!-- ************************************************************
//
//  menu
//
// ************************************************************ -->
<div id="menu" class="modal_contents">
<div class="inner">
	
	<!-- head -->
	<div class="head">
		<div class="logo animItem"><a href="/" data-menu="true" data-color="toTop"><%- include('../../../dist/assets/resource/svg/common/logo.svg'); %></a></div>
		<div class="text animItem"><%- include('../../../dist/assets/resource/svg/menu/menu_text.svg'); %></div>
		<div class="close close_modal animItem"><%- include('../../../dist/assets/resource/svg/menu/close.svg'); %></div>
	</div>

	<!-- list -->
	<div class="list">
		<div class="item">
			<a href="/?page=talk" data-menu="true" data-color="#FFF9B2">
				<div class="bgWrap"><div class="bg"></div></div>
				<div class="textWrap">
					<div class="textInner"><%- include('../../../dist/assets/resource/svg/menu/menu1.svg'); %></div>
				</div>
			</a>
		</div>
		<div class="item">
			<a href="/?page=warikan" data-menu="true" data-color="#FDD7BB">
				<div class="bgWrap"><div class="bg"></div></div>
				<div class="textWrap">
					<div class="textInner"><%- include('../../../dist/assets/resource/svg/menu/menu2.svg'); %></div>
				</div>
			</a>
		</div>
		<div class="item">
			<a href="/next/" data-menu="true" data-color="#F9CCE4" class="pageOut">
				<div class="bgWrap"><div class="bg"></div></div>
				<div class="textWrap">
					<div class="textInner"><%- include('../../../dist/assets/resource/svg/menu/menu3.svg'); %></div>
				</div>
			</a>
		</div>
		<div class="item">
			<a href="/?page=tap" data-menu="true" data-color="#ECF0B3">
				<div class="bgWrap"><div class="bg"></div></div>
				<div class="textWrap">
					<div class="textInner"><%- include('../../../dist/assets/resource/svg/menu/menu4.svg'); %></div>
				</div>
			</a>
		</div>
		<div class="item">
			<a href="/photo/" data-menu="true" data-color="#4cb5d6" class="notTransition">
				<div class="bgWrap"><div class="bg"></div></div>
				<div class="textWrap">
					<div class="textInner"><%- include('../../../dist/assets/resource/svg/menu/menu5.svg'); %></div>
				</div>
			</a>
		</div>
		<div class="item">
			<a href="/?page=tour" data-menu="true" data-color="#F7B8BF">
				<div class="bgWrap"><div class="bg"></div></div>
				<div class="textWrap">
					<div class="textInner"><%- include('../../../dist/assets/resource/svg/menu/menu6.svg'); %></div>
				</div>
			</a>
		</div>
		<div class="item">
			<a href="/?page=cm" data-menu="true" data-color="#E8E8E8">
				<div class="bgWrap"><div class="bg"></div></div>
				<div class="textWrap">
					<div class="textInner"><%- include('../../../dist/assets/resource/svg/menu/menu7.svg'); %></div>
				</div>
			</a>
		</div>
		<div class="item">
			<div class="bgWrap"><div class="bg"></div></div>
			<div class="textWrap">
			<div class="textInner">
				<div class="menuText flex">
					<div class="sound"><%- include('../../../dist/assets/resource/svg/menu/sound.svg'); %></div>
					<div class="on"><%- include('../../../dist/assets/resource/svg/menu/sound_on.svg'); %></div>
					<div class="sla"><%- include('../../../dist/assets/resource/svg/menu/sound_slash.svg'); %></div>
					<div class="off"><%- include('../../../dist/assets/resource/svg/menu/sound_off.svg'); %></div>
				</div>
			</div>
			</div>
		</div>
	</div>

	<!-- official -->
	<div class="box flex">
		<div class="item animItem"><a href="https://www.jimbeam.com/ja-jp" class="notTransition blank"><%- include('../../../dist/assets/resource/svg/menu/site.svg'); %></a></div>
		<div class="item animItem"><a href="https://www.suntory.co.jp/" class="notTransition blank"><%- include('../../../dist/assets/resource/svg/menu/suntory.svg'); %></a></div>
	</div>

	<!-- sns -->
	<div class="sns flex">
		<div class="animItem item lineShare_menu"><%- include('../../../dist/assets/resource/svg/menu/line.svg'); %></div>
		<div class="animItem item twShare_menu"><%- include('../../../dist/assets/resource/svg/menu/tw.svg'); %></div>
		<div class="animItem item fbShare_menu"><%- include('../../../dist/assets/resource/svg/menu/fb.svg'); %></div>
	</div>

</div>
</div>