<!-- ************************************************************
//  block05
// ************************************************************ -->
<div class="block block05">


	<div class="banner">
		<div class="item"><a href="https://newoman-christmas.jp/" class="blank"><img src="./assets/resource/img_sp/banner01.png" alt=""></a></div>
		<div class="item"><a href="http://800degreespizza.jp/" class="blank"><img src="./assets/resource/img_sp/banner02.png" alt=""></a></div>
	</div>

	<!-- pipe -->
	<div class="pipe"><img src="./assets/resource/img_sp/pipe04.png" alt="" class="responsiveImg"></div>

	<!-- tit -->
	<div class="tit"><%- include('../../../../dist/assets/resource/svg/store.svg'); %></div>
	
	<!-- blocInner -->
	<div class="blockInner blockInner01">

		<!-- item -->
		<div class="items itemParallax">
			<div class="item item01"><div class="itemWrap"><div class="itemInner"><img src="./assets/resource/img_sp/item02_01.png" alt=""></div></div></div>
			<div class="item item02"><div class="itemWrap"><div class="itemInner"><img src="./assets/resource/img_sp/item02_02.png" alt=""></div></div></div>
			<div class="item item03"><div class="itemWrap"><div class="itemInner"><img src="./assets/resource/img_sp/item02_03.png" alt=""></div></div></div>
			<div class="item item04"><div class="itemWrap"><div class="itemInner"><img src="./assets/resource/img_sp/item02_04.png" alt=""></div></div></div>
			<div class="item item05"><div class="itemWrap"><div class="itemInner"><img src="./assets/resource/img_sp/item02_05.png" alt=""></div></div></div>
		</div>
		
		<!-- btns -->
		<div class="btns">
			<!-- btn -->
			<div class="btn btnStore flex">
			<a href="http://www.lumine.ne.jp/shinjuku/christmas/" class="blank">
			<div class="btnInner">
				<div class="btnIn">
					<div class="titWrap flex">
						<div class="tit"><%- include('../../../../dist/assets/resource/svg/store01.svg'); %></div>
						<div class="text">新宿</div>
					</div>
					<div class="bar"></div>
					<div class="text">
						絶対喜ばれるギフト情報が満載☆スタイリスト<br>
						木津さんが選ぶギフトアイテムを抽選でプレゼント
					</div>
				</div>
				<div class="btnIn">
					<div class="icon"><%- include('../../../../dist/assets/resource/svg/arrow.svg'); %></div>
				</div>
			</div>
			</a>
			</div>
			
			<!-- btn -->
			<div class="btn btnStore flex">
			<a href="http://www.lumine.ne.jp/est/" class="blank">
			<div class="btnInner">
				<div class="btnIn">
					<div class="titWrap flex">
						<div class="tit"><%- include('../../../../dist/assets/resource/svg/store02.svg'); %></div>
						<div class="text">ルミネエスト</div>
					</div>
					<div class="bar"></div>
					<div class="text">
						映画グリンチとのコラボキャンペーン！<br>
						温泉旅行など、心温まるギフトを抽選でプレゼント★
					</div>
				</div>
				<div class="btnIn">
					<div class="icon"><%- include('../../../../dist/assets/resource/svg/arrow.svg'); %></div>
				</div>
			</div>
			</a>
			</div>
			
			<!-- btn -->
			<div class="btn btnStore flex">
			<a href="http://www.lumine.ne.jp/yurakucho/" class="blank">
			<div class="btnInner">
				<div class="btnIn">
					<div class="titWrap flex">
						<div class="tit"><%- include('../../../../dist/assets/resource/svg/store03.svg'); %></div>
						<div class="text">有楽町</div>
					</div>
					<div class="bar"></div>
					<div class="text">
						～大切な人と過ごす大切な時間に、ルミネ有楽町店へ～<br>
						素敵なHoliday Giftを用意してお待ちしております
					</div>
				</div>
				<div class="btnIn">
					<div class="icon"><%- include('../../../../dist/assets/resource/svg/arrow.svg'); %></div>
				</div>
			</div>
			</a>
			</div>
			
			<!-- btn -->
			<div class="btn btnStore flex">
			<a href="http://www.lumine.ne.jp/kitasenju/" class="blank">
			<div class="btnInner">
				<div class="btnIn">
					<div class="titWrap flex">
						<div class="tit"><%- include('../../../../dist/assets/resource/svg/store04.svg'); %></div>
						<div class="text">北千住</div>
					</div>
					<div class="bar"></div>
					<div class="text">
						クリスマスに向けて、週末は美人力アップ！<br>
						館内コスメショップの体験イベントを実施★
					</div>
				</div>
				<div class="btnIn">
					<div class="icon"><%- include('../../../../dist/assets/resource/svg/arrow.svg'); %></div>
				</div>
			</div>
			</a>
			</div>
			
			<!-- btn -->
			<div class="btn btnStore flex">
			<a href="http://www.lumine.ne.jp/ikebukuro/" class="blank">
			<div class="btnInner">
				<div class="btnIn">
					<div class="titWrap flex">
						<div class="tit"><%- include('../../../../dist/assets/resource/svg/store05.svg'); %></div>
						<div class="text">池袋</div>
					</div>
					<div class="bar"></div>
					<div class="text">
						HAPPYをつくる工場オブジェや抽選でX'mas<br class="sp">
						ギフトが<br class="pc">当たるガチャガチャが登場します！
					</div>
				</div>
				<div class="btnIn">
					<div class="icon"><%- include('../../../../dist/assets/resource/svg/arrow.svg'); %></div>
				</div>
			</div>
			</a>
			</div>
			
			<!-- btn -->
			<div class="btn btnStore flex">
			<a href="http://www.lumine.ne.jp/tachikawa/" class="blank">
			<div class="btnInner">
				<div class="btnIn">
					<div class="titWrap flex">
						<div class="tit"><%- include('../../../../dist/assets/resource/svg/store06.svg'); %></div>
						<div class="text">立川</div>
					</div>
					<div class="bar"></div>
					<div class="text">
						大切な人に気持ちを伝える限定クリスマスカードを<br>
						プレゼント♪HAPPYなクリスマスを立川で★
					</div>
				</div>
				<div class="btnIn">
					<div class="icon"><%- include('../../../../dist/assets/resource/svg/arrow.svg'); %></div>
				</div>
			</div>
			</a>
			</div>

		</div>

	</div>

	<!-- img -->
	<div class="img img01"><img src="./assets/resource/img_sp/conveyor.png" alt="" class="responsiveImg"></div>

	<!-- blocInner -->
	<div class="blockInner blockInner02">

		<!-- item -->
		<div class="items itemParallax">
			<div class="item item01"><div class="itemWrap"><div class="itemInner"><img src="./assets/resource/img_sp/item02_06.png" alt=""></div></div></div>
			<div class="item item02"><div class="itemWrap"><div class="itemInner"><img src="./assets/resource/img_sp/item02_07.png" alt=""></div></div></div>
			<div class="item item03"><div class="itemWrap"><div class="itemInner"><img src="./assets/resource/img_sp/item02_08.png" alt=""></div></div></div>
			<div class="item item04"><div class="itemWrap"><div class="itemInner"><img src="./assets/resource/img_sp/item02_09.png" alt=""></div></div></div>
			<div class="item item05"><div class="itemWrap"><div class="itemInner"><img src="./assets/resource/img_sp/item02_10.png" alt=""></div></div></div>
		</div>

		<!-- btns -->
		<div class="btns">
			<!-- btn -->
			<div class="btn btnStore flex">
			<a href="http://www.lumine.ne.jp/machida/" class="blank">
			<div class="btnInner">
				<div class="btnIn">
					<div class="titWrap flex">
						<div class="tit"><%- include('../../../../dist/assets/resource/svg/store07.svg'); %></div>
						<div class="text">町田</div>
					</div>
					<div class="bar"></div>
					<div class="text">
						大切な人に贈りたいギフトがきっとみつかります★<br>
						クリスマスの準備はルミネ町田でバッチリ！
					</div>
				</div>
				<div class="btnIn">
					<div class="icon"><%- include('../../../../dist/assets/resource/svg/arrow.svg'); %></div>
				</div>
			</div>
			</a>
			</div>
			
			<!-- btn -->
			<div class="btn btnStore flex">
			<a href="http://www.lumine.ne.jp/ogikubo/" class="blank">
			<div class="btnInner">
				<div class="btnIn">
					<div class="titWrap flex">
						<div class="tit"><%- include('../../../../dist/assets/resource/svg/store08.svg'); %></div>
						<div class="text">荻窪</div>
					</div>
					<div class="bar"></div>
					<div class="text">
						クリスマスマーケットや屋上イルミネーションを開催！<br>
						荻窪限定クリスマスセットの販売も★
					</div>
				</div>
				<div class="btnIn">
					<div class="icon"><%- include('../../../../dist/assets/resource/svg/arrow.svg'); %></div>
				</div>
			</div>
			</a>
			</div>
			
			<!-- btn -->
			<div class="btn btnStore flex">
			<a href="http://www.lumine.ne.jp/omiya/" class="blank">
			<div class="btnInner">
				<div class="btnIn">
					<div class="titWrap flex">
						<div class="tit"><%- include('../../../../dist/assets/resource/svg/store09.svg'); %></div>
						<div class="text">大宮</div>
					</div>
					<div class="bar"></div>
					<div class="text">
						大切な人へオススメのギフトを大特集！<br>
						お菓子やコスメサンプルがもらえるイベントも★
					</div>
				</div>
				<div class="btnIn">
					<div class="icon"><%- include('../../../../dist/assets/resource/svg/arrow.svg'); %></div>
				</div>
			</div>
			</a>
			</div>
			
			<!-- btn -->
			<div class="btn btnStore flex">
			<a href="http://www.lumine.ne.jp/kawagoe/" class="blank">
			<div class="btnInner">
				<div class="btnIn">
					<div class="titWrap flex">
						<div class="tit"><%- include('../../../../dist/assets/resource/svg/store10.svg'); %></div>
						<div class="text">川越</div>
					</div>
					<div class="bar"></div>
					<div class="text">
						スクラッチで川越店から当たって楽しい♪<br>
						貰って嬉しい☆素敵なプレゼントをたくさんゲット！
					</div>
				</div>
				<div class="btnIn">
					<div class="icon"><%- include('../../../../dist/assets/resource/svg/arrow.svg'); %></div>
				</div>
			</div>
			</a>
			</div>
			
			<!-- btn -->
			<div class="btn btnStore flex">
			<a href="http://www.lumine.ne.jp/yokohama/" class="blank">
			<div class="btnInner">
				<div class="btnIn">
					<div class="titWrap flex">
						<div class="tit"><%- include('../../../../dist/assets/resource/svg/store11.svg'); %></div>
						<div class="text">横浜</div>
					</div>
					<div class="bar"></div>
					<div class="text">
						自分へのご褒美、大切な人へのギフトをご購入の方に<br>
						抽選でスペシャル体験をプレゼント☆
					</div>
				</div>
				<div class="btnIn">
					<div class="icon"><%- include('../../../../dist/assets/resource/svg/arrow.svg'); %></div>
				</div>
			</div>
			</a>
			</div>
			
			<!-- btn -->
			<div class="btn btnStore flex">
			<a href="http://www.lumine.ne.jp/fujisawa/" class="blank">
			<div class="btnInner">
				<div class="btnIn">
					<div class="titWrap flex">
						<div class="tit"><%- include('../../../../dist/assets/resource/svg/store12.svg'); %></div>
						<div class="text">藤沢</div>
					</div>
					<div class="bar"></div>
					<div class="text">
						かわいくておいしい！クリスマスケーキがいっぱい☆<br>
						素敵なおうちパーティーを提案します♪
					</div>
				</div>
				<div class="btnIn">
					<div class="icon"><%- include('../../../../dist/assets/resource/svg/arrow.svg'); %></div>
				</div>
			</div>
			</a>
			</div>
			
			<!-- btn -->
			<div class="btn btnStore flex long">
			<a href="http://www.lumine.ne.jp/luminewing/" class="blank">
			<div class="btnInner">
				<div class="btnIn">
					<div class="titWrap flex">
						<div class="tit"><%- include('../../../../dist/assets/resource/svg/store13.svg'); %></div>
						<div class="text">大船ルミネウィング</div>
					</div>
					<div class="bar"></div>
					<div class="text">
						コスメや雑貨などのクリスマスギフトが盛りだくさん♪<br>
						ワークショップやコスメプレゼントキャンペーンも！
					</div>
				</div>
				<div class="btnIn">
					<div class="icon"><%- include('../../../../dist/assets/resource/svg/arrow.svg'); %></div>
				</div>
			</div>
			</a>
			</div>
			
			<!-- btn -->
			<div class="btn btnStore flex">
			<a href="https://i.lumine.jp/contents/1811_christmas" class="blank">
			<div class="btnInner">
				<div class="btnIn">
					<div class="titWrap flex">
						<div class="tit"><%- include('../../../../dist/assets/resource/svg/store14.svg'); %></div>
						<div class="text">アイルミネ</div>
					</div>
					<div class="bar"></div>
					<div class="text">
						クリスマスおすすめファッション・ジュエリー・<br class="sp">
						コスメ<br class="pc">が勢揃い！アイルミネ限定プレゼントも！
					</div>
				</div>
				<div class="btnIn">
					<div class="icon"><%- include('../../../../dist/assets/resource/svg/arrow.svg'); %></div>
				</div>
			</div>
			</a>
			</div>
			
		</div>

	</div>
		
</div>	
